<!DOCTYPE html>
<html>
  <head>
    <%- include ('../partial/headercss')%>
    <link rel="stylesheet" href="/static/css/home.css" />
    <title>BookAttic</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../utils/ratings.js"></script>
    <script>
      $(function () {
        $(".stars").stars();
      });
    </script>
  </head>
  <body>
    <%- include ('../partial/navheader')%>
    <div class="section-wrap">
      <div class="contents-wrap">
        <h5 class="section-heading">
          <a href="/books">
            <img src="/static/images/Path.svg" class="shape-icon" alt="" />
          </a>
          BOOK DETAILS
        </h5>
        <div class="row header-section">
          <div class="col-md-4">
            <div class="img-wrap">
              <img src="<%= data.image %>" alt="<%= data.title %>" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="book-details-wrap">
              <div class="book-title">
                <h3><%= data.title %></h3>
              </div>
              <div class="rating">
                  <span class="stars">
                    <% var rating = Math.floor(Number(data.rating)); %>
                    <% for(var i = 0;i < rating; i++) {%>
                      <i class="fa fa-star" aria-hidden="true"></i>
                    <% }%>
                    <% if (Number(data.rating) - rating === 0.5){%>
                      <i class="fa fa-star-half" aria-hidden="true"></i>
                    <%} %>
                  </span>
                  <span class="rating-number"> <%= data.rating %>Rating</span>
                  
                </p>
              </div>
              <div class="author">
                <p>By <%= data.author %></p>
              </div>
              <div class="cost">
                <p>
                  <img src="/static/images/india.svg" alt="" /><%= data.cost %>
                </p>
              </div>
              <div class="button">
                <a href="#">
                  <button type="submit">
                    Add To Cart
                  </button>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-2 rightSide">
            <a href="/books/<%= data._id %>/edit"
              ><img class="edit-icon" src="/static/images/shape.svg" alt=""
            /></a>
          </div>
        </div>
        <div class="row">
          <div class="about-book">
            <h3>About the Book</h3>
            <p><%= data.description %></p>
          </div>
        </div>
        <div class="row">
          <div class="reviews-section">
            <div class="title">
              <h3>Reviews</h3>
            </div>
            <div class="review">
              <% data.reviews.forEach(function(review){ %>
              <div class="contents">
                <div class="review-title">
                  <%= review.title %>
                </div>
                <div class="review-author">
                  By <%= review.author %>
                </div>
                <div class="text">
                  <%= review.text %>
                </div>
              </div>
              <hr />
              <% }); %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include ('../partial/navfooter') %>
    <script></script>
  </body>
</html>
