<%- include ('partial/navheader') %>
<div id="booksection">
  <!--------------------------Fiction Books---------------------------------->
  <div id="fiction">
    <h2>FICTION</h2>
    <div class="row">
      <!---------Looping through database and display details of fiction books-------------->
      <% data.forEach(function(book){ if(book.category === "fiction"){ %>
      <div class="col-lg-3 col-sm-4">
        <!-- card component for each book -->
        <div class="card">
          <!---------Image of the book----------->
          <div class="card-img-wrap">
            <img class="card-img-top" src="<%= book.image %>" alt="" />
          </div>
          <!-----------Details of the book----------->
          <div class="card-body">
            <p class="card-title"><%= book.title %></p>
            <p class="card-text author">
              by <%= book.author %>
            </p>
            <p class="card-text rating">
              <%= book.rating %> rating
              <span class="float-right">$<%= book.cost %></span>
            </p>
          </div>
        </div>
      </div>
      <%}});%>
    </div>
  </div>
  <!----------------------------Ends here--------------------------------------->
  <!--------------------------Non Fiction Books---------------------------------->
  <div id="nonfiction">
    <h2>NON FICTION</h2>
    <div class="row">
      <!---------Looping through database and display details of non fiction books-------------->
      <% data.forEach(function(book){ if(book.category === "nonfiction"){ %>
      <div class="col-lg-3 col-sm-4">
        <!-- card component for each book -->
        <div class="card">
          <!---------Image of the book----------->
          <div class="card-img-wrap">
            <img class="card-img-top" src="<%= book.image %>" alt="" />
          </div>
          <!-----------Details of the book----------->
          <div class="card-body">
            <p class="card-title"><%= book.title %></p>
            <p class="card-text author">
              by <%= book.author %>
            </p>
            <p class="card-text rating">
              <%= book.rating %> rating
              <span class="float-right">$<%= book.cost %></span>
            </p>
          </div>
        </div>
      </div>
      <%}});%>
    </div>
  </div>
  <!-----------------------Ends here--------------------------------->
</div>
<%- include ('partial/navfooter') %>
